:root{
    --mindaro: #D9ED92;
    --lighter-green: #B5E48C;
    --light-green: #99D98C;
    --emerald: #76C893;
    --keppel: #52B69A;
    --verdigris: #34A0A4;
    --bondi-blue: #168AAD;
    --cerulean: #1A759F;
    --lapis: #1E6091;
    --indigo: #184e77;
}

body{
    width: 100%;
    margin: 0 0 8px 0;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--indigo);
    background-color: var(--mindaro);
}

body::-webkit-scrollbar{
    display: none;
}

header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-green);
    margin: 0;
    width: 100%;
    position: sticky;
    overflow: hidden;
    top: 0;
}

h1{
    padding-left: 12px;
}

nav{
    display: flex;
    font-size: 24px;
}

section{
    padding-left: 12px;
    padding-bottom: 18px;
    width: 100%;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#email{
    display: flex;
    justify-content: center;
    width: 100%
}

#email p{
    font-size: 24px;
}

#education{
    width: 100%;
}

#projects{
    width: 100%;
}

#career{
    width: 100%;
}

#about-me{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

#img-container{
    padding-top: 12px;
    width:40%;
}

#profile{
    width: 480px;
    height: auto;
}


#text-container{
    padding-left: 12px;
    width:40%;
}

a:link{
    color: var(--indigo);
    text-decoration: none;
}

a:visited{
    color: var(--indigo);
}

a:hover{
    color: var(--emerald);
}

a:active{
    text-decoration: underline;
}

.title a:link{
    color: var(--indigo);
    text-decoration: none;
}
.title a:visited{
    color: var(--indigo);
}
.title a:hover{
    color: var(--indigo);
}
.title a:active{
    color: var(--indigo);
}

#email-address:link{
    text-decoration: underline;
}

.nav-items{
    display: flex;
    list-style-type: none;
    margin: 0 0 0 auto;
    justify-content: space-around;
}

.nav-item{
    margin: 12px;
}

#secret-button{
    display: none;
}

@media only screen and (max-width: 600px){
/*  Conditional Styling */
    #profile{
        width: 100%;
    }
    h1 {
        width: 100%;
    }
    nav{
        width: 100%;
        font-size: 16px;
    }
    .nav-items{
        margin: 0;
        justify-content: space-between;
        width: 100%;
        display: flex;
    }
    .nav-item{
        margin: auto;
    }
    h1{
        padding-left: 4px;
    }
    ul{
        padding-inline-start: 4px;
    }
}