:root{
    --mindaro: #D9ED92;
    --lighter-green: #B5E48C;
    --light-green: #99D98C;
    --emerald: #76C893;
    --keppel: #52B69A;
    --verdigris: #34A0A4;
    --bondi-blue: #168AAD;
    --cerulean: #1A759F;
    --lapis: #1E6091;
    --indigo: #184E77;
}

